<p id="notice"><%= notice %></p>

<h1>Поезда</h1>

<table border="2">
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <%= render train %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый поезд', new_train_path %>
<br>
<%= link_to 'На главную', root_path %>

