<h1>Новый поезд</h1>
<%= form_with(model: @train, local: true) do |form| %>

  <%= render 'form', form: form %>

  <div class="actions">
    <%= form.submit 'Создать'%>
  </div>
<% end %>

<%= link_to 'Назад', trains_path %>
